<h1 class="display-3" id="AdP">Acerca del Proyecto</h1>
<hr>
<p class="text-justify">
    Nuestro proyecto se enfoca en el control de acceso del edificio 19, debido a tiempos actuales se pretende llevar a cabo un control de
    registros de quien entra al edificio 19, esto se realizará mediante un Qr que se
    generará mediante nuestra aplicación móvil, este Qr nos brindara la información
    del alumno como; Nombre, No. control etc.
    <br><br>
    También el proyecto como medida de seguridad contará con un sensor de
    temperatura infrarrojo a distancia (MLX90614) para cerciorarse de que el alumno
    esté en los estándares apropiados para entrar al edificio.
    Para la realización de este sistema se utilizará el módulo wifi ESP32CAM, el cual
    cuenta con una cámara para escanear los códigos QR con la información del
    alumno y registrar el acceso al edificio en la base de datos y reflejarlos en una
    bitácora de accesos.
    <br><br>
    Toda la información almacenada de los accesos de los alumnos se podrá
    visualizar en esta pagina web la cual estaea monitoreada por el personal del ITL.
</p>

<h1 class="display-5">Tecnologias Utilizadas</h1>
<div class="text-center" id="TecU">
    <img src="../assets/mongo.png" class="rounded" alt="...">
    <img src="../assets/express.png" class="rounded" alt="...">
    <img src="../assets/angular.png" class="rounded" alt="...">
    <img src="../assets/node.png" class="rounded" alt="...">
</div>

<hr>
