<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="https://lh3.googleusercontent.com/proxy/SVTjMdenJF1cFOMnDjYyPdd7Kh9UiAToPGVJ8SPCYwg5zenBR_BnCshuB4FrW5Bn-3KlPq-oqvb2F80IXEuAP43O4kqJnJYFUOkF1X-8Qr5FkLto4CARxUE2KhSRmcCbVatbmW_3_sBt1G8" alt="" width="40" height="40">
      <a class="navbar-brand" href="#">Control de Acceso - Edificio 19</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"> <i class="fa-solid fa-house"></i> Inicio</a>
          <a class="nav-link" href="#AdP">Acerca del Proyecto</a>
        </div>
      </div>
    </div>
  </nav>